$primary-color: #f6b88f;
$secondary-color: #b0db43;
$primary-bg: #ebebeb;

.toggles{
	overflow: hidden;
	.toggle-content{
		display: none;
		padding: 40px 30px;
		border-top: 1px solid $primary-bg;
		background-color: #fafafa;
		transition: border .2s ease-in-out;
	} 
	.toggle-item.active .toggle-content{
		border-top: 1px solid $primary-color;
	}
	.toggle-item{
		overflow: hidden;
		background-color: #fff;
		margin-bottom: 2px;
	}
	.toggle-header{
		position: relative;
		display: flex;
		align-items: center;
		font-weight: normal;
		transition: all .2s ease-in-out;
		cursor: pointer;
		margin: 0;
		padding: 20px 0;
		img{
			margin-right: 15px;
			margin-left: 25px;
		}
		
	}
	
	.toggle-item{
		.toggle-control{
			width: 20px;
			height: 20px;
			position: absolute;
			right: 50px;
			top: 50%;
			transform: translateY(-50%);
			
			&::after,
			&::before{
				content: "";
				display: block;
				position: absolute;
				height: 2px;
				background-color: black;
				width: 20px;
				top: 50%;
				transition: all .2s ease-in-out; 
				right: 0;
			}
			&::after{
				transform: rotate(90deg);
				left: 0;
			}

		}
		
		&.active{
			h2{
				color: $primary-color;
			}
			.toggle-control{
				&::before{
					transform: rotate(-45deg);
					right: -2px;
					width: 15px;
					
				}
				&::after{
					width: 15px;
					transform: rotate(45deg);
					left: -2px;
	
				}
	
			}
		}
	}
}
